
@{
    ViewData["Title"] = "收割用车信息";
}

<h2>收割用车信息</h2>


<div class="page">
    <div class="page__bd page__bd_spacing">
        @* 九宫格菜单开始 *@
        <div class=" = page__hd">
            <h1 class="page__title">车辆分类</h1>   @* page__title 页面 头部 *@
        </div>
        <div class="weui-grids">
            <a asp-action="HireReapCar" class="weui-grid">
                <div class="weui-grid__label">
                    <p>雇佣收割车辆</p>
                </div>
            </a>
            <a asp-action="TaxiReapCar"  class="weui-grid">
                <div class="weui-grid__label">
                    <p>出租收割车辆</p>
                </div>
            </a>
        </div>
        @* 九宫格菜单开始结束 *@
    </div>
</div>




@section Scripts {
    @* 微信JSSDK *@
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    @* 微信JSSDK *@
    <link href="~/lib/weui/dist/style/weui.css" rel="stylesheet" />
}

