@using web.Models.CarInfo
@using static web.Models.AllEnum

@model DealCarViewModel
@{
    ViewData["Title"] = "发布卖车信息";
}


<form asp-controller="CarInfo" asp-action="SellCar" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>

    @*上传照片  微信传图

        上传视频 微信上传视频*@

    <h2 class="text-center">发布卖车信息</h2>
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" required="required" class="form-control" placeholder="请填写标题" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Price" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Price" required="required" class="form-control" type="number" pattern="[0-9]*" placeholder="请填写想卖的价格" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="BrandViewModel" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="BrandViewModel" required="required" class="form-control" placeholder="请填写车辆品牌" />
            <span asp-validation-for="BrandViewModel" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RegTime" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegTime" required="required" class="form-control" type="date" placeholder="请选择上牌时间" />
            <span asp-validation-for="RegTime" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RunRoadCount" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RunRoadCount" required="required" class="form-control" type="number" placeholder="请输入行驶公里数" />
            <span asp-validation-for="RunRoadCount" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Auto" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Auto" asp-items="@Html.GetEnumSelectList<Auto>()" class="form-control"></select>
            <span asp-validation-for="Auto" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Procedure" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="Procedure" asp-items="@Html.GetEnumSelectList<Procedure>()" class="form-control"></select>
            <span asp-validation-for="Procedure" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="InZone" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="InZone" asp-items="@Html.GetEnumSelectList<InZone>()" class="form-control"></select>
            <span asp-validation-for="InZone" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Desc" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Desc" class="form-control" placeholder="请输入描述信息" rows="5">
            </textarea>
            <span asp-validation-for="Desc" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" required="required" class="form-control" placeholder="请输入姓名" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Phone" required="required" class="form-control" id="phone" type="tel" placeholder="请输入手机号" />
            <span asp-validation-for="Phone" class="text-danger"></span>
            @*<input type="button" class="btn btn-default" id="btn" value="免费获取验证码" onclick="sendCaptcha()" />*@
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" id="issue" class="btn btn-default">立即发布</button>
        </div>
    </div>
</form>
