@{
    ViewData["Title"] = "Home Page";
}

<div class="btn btn-group">
    <a class="btn btn-default" asp-action="Index" asp-controller="CarInfo">发布车辆信息</a>
    <a class="btn btn-default" asp-action="Index" asp-controller="LookInfo">查看车辆信息</a>
    <a class="btn btn-default" asp-action="SendCerealsBossInfo" asp-controller="IssueMsg">发布货主信息</a>
    <a class="btn btn-default" asp-action="LookBossInfo" asp-controller="LookInfo">查看货主信息</a>
    <a class="btn btn-default" asp-action="HireInfo" asp-controller="IssueMsg">发布用工信息</a>
    <a class="btn btn-default" asp-action="LookHireInfo" asp-controller="LookInfo">查看用工信息</a>
    <a class="btn btn-default" asp-action="PeopleInfo" asp-controller="IssueMsg">发布个人简历</a>
    <a class="btn btn-default" asp-action="PeopleInfo" asp-controller="LookInfo">查看个人简历</a>
    <a class="btn btn-default" asp-action="FindDriver" asp-controller="IssueMsg">发布车找司机信息</a>
    <a class="btn btn-default" asp-action="FindDriver" asp-controller="LookInfo">查看车找司机信息</a>
    <a class="btn btn-default" asp-action="FindCar" asp-controller="IssueMsg">发布司机找车信息</a>
    <a class="btn btn-default" asp-action="FindCar" asp-controller="LookInfo">查看司机找车信息</a>
</div>