@using web.Models.CarInfo
@model IEnumerable<BigCarInfoViewModel>
@{
    ViewData["Title"] = "大型车辆信息";
}

<table class="table">

    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td><a asp-action="BigCarDetails" class="text-info" asp-route-id="@m.Id">@m.Title</a></td>
                <td><label class="text-info">@m.JoinTime.ToString("yyyy/MM/dd hh:mm")</label></td>
            </tr>
        }
    </tbody>
</table>