@using web.Models.Person
@model IEnumerable<HireViewModel>

@{
    ViewData["Title"] = "查看用工信息";
}

<table class="table">

    <tbody>
        @if (Model != null)
        {
            @foreach (var m in Model)
            {
                <tr>
                    <td><a asp-action="HireInfoDetails" class="text-info" asp-route-id="@m.Id">@m.Title</a></td>
                    <td><label class="text-info">@m.JoinTime.ToString("yyyy/MM/dd hh:mm")</label></td>
                </tr>
            }
        }
    </tbody>
</table>