@using web.Models.CarInfo
@model IEnumerable<DealCarViewModel>

@{
    ViewData["Title"] = "查看卖车信息";
}

<table class="table">

    <tbody>
        @if (Model != null)
        {
            @foreach (var m in Model)
            {
                <tr>
                    <td><a asp-action="SellCarDetails" class="text-info" asp-route-id="@m.Id">@m.Title</a></td>
                    <td><label class="text-info">@m.JoinTime.ToString("yyyy/MM/dd hh:mm")</label></td>
                </tr>
            }
        }
    </tbody>
</table>