@using static web.Models.AllEnum
@using web.Models.CerealsViewModels
@model CerealsBossViewModel

@{
    ViewData["Title"] = "发布粮食货主信息";
}



<form asp-controller="IssueMsg" asp-action="SendBossInfo" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>

    @*上传照片  微信传图

        上传视频 微信上传视频*@

    <h2 class="text-center">发布粮食货主信息</h2>
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" required="required" class="form-control" placeholder="请填写标题" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Price" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Price" required="required" class="form-control" type="number" pattern="[0-9]*" placeholder="请填写预想的价格" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="StartPoint" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="StartPoint" required="required" class="form-control" placeholder="请填写装货地点" />
            <span asp-validation-for="StartPoint" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="EndPoint" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="EndPoint" required="required" class="form-control" placeholder="请填写目的地" />
            <span asp-validation-for="EndPoint" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CerealsCount" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="CerealsCount" required="required" class="form-control" type="number" placeholder="请填写共多少吨粮食" />
            <span asp-validation-for="CerealsCount" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CerealsType" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="CerealsType" asp-items="@Html.GetEnumSelectList<CerealsType>()" class="form-control"></select>
            <span asp-validation-for="CerealsType" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Desc" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Desc" class="form-control" placeholder="请输入描述信息" rows="5">
            </textarea>
            <span asp-validation-for="Desc" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" required="required" class="form-control" placeholder="请输入姓名" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Phone" required="required" class="form-control" id="phone" type="tel" placeholder="请输入手机号" />
            <span asp-validation-for="Phone" class="text-danger"></span>
            <input type="button" class="btn btn-default" id="btn" value="免费获取验证码" onclick="sendCaptcha()" />
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" id="issue" class="btn btn-default">立即发布</button>
        </div>
    </div>
</form>
